.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.logo {
    width: 100%;
    height: 250px;
    background: url("../images/managerLogin.png")  center no-repeat;
}

.successfulLogout {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: #e6e6fa;
}

.btn-login {
    color: #3E4E51;
    background-color: #E6E6FA;
    border-color: #E6E6FA;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
    color: #3E4E51;
    background-color: #FFF;
    border-color: #E6E6FA;
}

.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
    background-image: none;
}

.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
    background-color: #E6E6FA;
    border-color: #E6E6FA;
}

.btn-login .badge {
    color: #E6E6FA;
    background-color: #3E4E51;
}