/***Navbar Background Color, Border Removed ,Border Radius Sqaure***/

.navbar.navbar-custom {
    background: #3e4e51;
    border: none;
    border-radius: 0;
}
/***Link Color***/

.navbar.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}
/***Link Color Hover Statr***/

.navbar.navbar-custom .navbar-nav > li > a:hover {
    color: #eee8e8;
}
/***Link Background and Color Active State***/

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
    background: #eee8e8;
    color: #3e4e51;
}